body {
    background-image: url('images/room.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #050a30; /* Adjust text color to be visible on the background */
}

.text-container {
    background-color: rgba(255, 255, 255, 0.601); /* White background with 50% opacity */
    padding: 20px; /* Add some padding for better readability */
    margin: 20px; /* Optional: space around the text container */
    border-radius: 8px; /* Optional: rounded corners */
}

img {
    max-width: 50%; /* Ensures the image doesn't exceed the width of its container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes bottom space in inline images */
    margin: 0 auto; /* Centers the image if it's smaller than the container */
    float: left; /* Aligns the image to the left */
}
/* Add more styles as needed */