body {
    background-image: url('images/room.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #050a30; /* Adjust text color to be visible on the background */
}

.text-container {
    background-color: rgba(255, 255, 255, 0.601); /* White background with 50% opacity */
    padding: 20px; /* Add some padding for better readability */
    margin: 20px; /* Optional: space around the text container */
    border-radius: 8px; /* Optional: rounded corners */
}

img {
    max-width: 50%; /* Ensures the image doesn't exceed the width of its container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes bottom space in inline images */
    margin: 0 auto; /* Centers the image if it's smaller than the container */
    /* float: left; /* Aligns the image to the left */
}

.video-container {
    display: flex;
    justify-content: center; /* Centers the iframe horizontally */
    margin: 20px; /* Optional: Adds margin around the container */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f6fc;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #050a30;
    transition: background-color 0.3s; /* Smooth transition */
}

nav a:hover {
    text-decoration: underline;
    background-color: rgba(0, 123, 255, 0.1); /* Light background on hover */
    border-radius: 4px; /* Rounded corners */
}

.search-container {
    display: flex;
    justify-content: flex-end; /* Aligns the search bar to the right */
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f4f6fc;
    border-radius: 4px;
    width: 250px;
    max-width: 100%; /* Responsive */
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #050a30;
    color: #f4f6fc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
    background-color:  #050a30;
}

button:focus {
    outline: 2px solid #050a30; /* Outline on focus */
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-bottom: 10px; /* Space between nav and search bar */
    }
}

/* Add more styles as needed */